body {
    background-color: #ffe6ff;
    font-family: Helvetica, Tahoma, sans-serif;
}

#header {
    background-color: #cc00cc;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

#navbar ul li {
    float: left;
    padding: 9px;
    
    color: #ffffff;
}

#navbar ul li a {
    font-size: 20px;
    color: #ffffff;
}

#navbar ul li a:link {
    text-decoration: none;
}

#navbar ul li a:visited {
    text-decoration: none;
}

#navbar ul li a:hover {
    text-decoration: underline;
}

#navbar ul li a:active {
    text-decoration: underline;
}

#headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#header #names {
    text-align: center;
    padding: 50px 70px 30px;
    color: #ffffff;
}

#header #names h1 {
    font-size: 40px;
}

#header #names h2 {
    font-size: 28px;
}

#header names h3 {
    font-size: 22px;
}

#welcome {
    margin: auto;
    width: 70%;
    padding: 20px 50px;
    color: #333333;
    background-color: #ffe6ff;
    font-size: 25px;
}

 #welcome h2 {
    font-size: 28px;
}

#footer {
    text-align: center;
    padding: 20px 50px;
    color: #333333;
    background-color: #ffe6ff;
    font-size: 20px;
}