body {
    background-color: #ffe6ff;
    font-family: Helvetica, Tahoma, sans-serif;
  }

#header {
    text-align: center;
    padding: 50px 70px 20px;
    color: #ffffff;
    background-color: #cc00cc;
}

#header h1 {
    font-size: 40px;
}

#header h2 {
    font-size: 28px;
}

#header h3 {
    font-size: 22px;
}

#welcome {
    margin: auto;
    width: 70%;
    padding: 20px 50px;
    color: #333333;
    background-color: #ffe6ff;
    font-size: 25px;
 }

 #welcome h2 {
    font-size: 28px;
 }

#footer {
    text-align: center;
    padding: 20px 50px;
    color: #333333;
    background-color: #ffe6ff;
    font-size: 20px;
  }